 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Quicksand", sans-serif;

}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2f2f2;
}


.box{
    width:260px;
    height:380px;
    background:#203a61;
    border-radius:18px;
    position:relative;
    overflow:hidden;
    box-shadow:0 12px 25px 20px rgba(0,0,0,.18);
}


.wave-one{
    position:absolute;
    width:200%;
    height:180px;
    background:#e9eff6;
    border-radius:50%;
    left:-50%;
    top:210px;
    animation: riverFlow 4s linear infinite;
}


.wave-one:nth-child(2){
    opacity:0.7;
    top:225px;
    animation-duration:5s;
}


.wave-one:nth-child(3){
    opacity:0.5;
    top:240px;
    animation-duration:16s;
}



@keyframes riverFlow{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-55%);
    }
}


#weathercon{
    position:absolute;
    top:50px;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
}

#weathercon i{
    font-size:55px;
    color:#f4c430;
}


.info{
    position:absolute;
    bottom:55px;
    width:100%;
    text-align:center;
    z-index:2;
    padding-bottom: 59px;
    margin-top: 350px;
  
}

.location{
    color:#fff;
    font-size:20px;
    font-weight:600;
    margin-bottom:4px;
    margin-top: 150px;
}

.fa-street-view{
    animation: rotates 3s linear infinite alternate;
}

@keyframes rotates{
    from{
        transform: translateX(-0.5rem);
    }
   
}



#weathercon i{
  animation: blinkGlow 2.5s infinite ease-in-out;
}

@keyframes blinkGlow{
  0%{
    opacity:1;
    text-shadow:0 0 5px #f4c430;
  }
  50%{
    opacity:0.4;
    text-shadow:0 0 20px #f4c430;
  }
  100%{
    opacity:1;
    text-shadow:0 0 5px #f4c430;
  }
}


#date{
    color:#f6f6f6;
    font-size:12px;
    margin-bottom:18px;
}

.temp{
    font-size:36px;
    font-weight:600;
    color:#000;
}

.tempmin_max{
    font-size:13px;
    color:#555;
}
 


